header {
    background: #555;
    position: fixed;
    z-index: 3;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-collapse,
.nav-collapse * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.nav-collapse ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-collapse ul,
.nav-collapse li, 
.nav-collapse .mask {
    float: left;
    display: block;
    width: 100%;
}

.nav-logo, 
.nav-logo a,
.nav-collapse ul li a {
    text-decoration: none;
    color: #fff;
}

.nav-logo {
    float: left;
    line-height: 52px;
    padding: 0 20px;
    font-size: 1.3em;
    height: 55px;
}

.nav-logo,
.nav-logo a {
    font-weight: bold;
}

.nav-collapse .mask {
    overflow: hidden;
    height: 0;
}

/* Full-width mode */

.nav-collapse.nav-full {
    float: left;
    width: auto;
}

.nav-collapse.nav-full.nav-right {
    float: right;
}

.nav-collapse.nav-full ul {
    border-left: 1px solid white;
}

.nav-collapse.nav-full li {
    width: auto;
}

.nav-collapse.nav-full a {
    border-right: 1px solid white;
    padding: 0 20px;
    text-align: center;
    float: left;
    margin: 0;
    line-height: 52px;
    height: 55px;
}

.nav-collapse.nav-full ul,
.nav-collapse.nav-full ul li a {
    border-color: #686868;
}

/* Compact mode */

.nav-collapse.nav-compact a {
    border-top: 1px solid white;
    text-decoration: none;
    background: #999;
    padding: 0.7em 1em;
    color: #fff;
    width: 100%;
    float: left;
}

/* Active menu items */

.nav-collapse a:active,
.nav-collapse .active a {
    background: #767676;
}

.nav-collapse.nav-compact ul li a {
    padding: .8em 1.3em;
}

.nav-collapse.nav-compact ul li a {
    line-height: 100%;
    height: 45px;
    border-top: none;
    border-bottom: 1px solid #b4b4b4;
}

/* Toggle button */

@font-face {
    font-family: "responsivenav";
        src:url("../icons/responsivenav.eot");
        src:url("../icons/responsivenav.eot?#iefix") format("embedded-opentype"),
        url("../icons/responsivenav.ttf") format("truetype"),
        url("../icons/responsivenav.woff") format("woff"),
        url("../icons/responsivenav.svg#responsivenav") format("svg");
    font-weight: normal;
    font-style: normal;
}

.nav-toggle {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    text-indent: -300px;
    position: relative;
    overflow: hidden;
    width: 60px;
    height: 55px;
    float: right;
}

.nav-toggle:before {
    color: #fff; 
    font: normal 28px/55px "responsivenav"; 
    text-transform: none;
    text-align: center;
    position: absolute;
    content: "\2261"; 
    text-indent: 0;
    speak: none;
    width: 100%;
    left: 0;
    top: 0;
}

.nav-toggle.active:before {
    content: "\78"; 
}

/* Transition animations */

header.nav-transitions .nav-logo {
    transition: all 0.1s linear; 
}

header.nav-transitions .nav-logo.nav-logo-full {
    font-size: 1em;
}

header.nav-transitions.fixed .nav-collapse.nav-full ul li a {
    padding-top: .8em;
    padding-bottom: .8em;
    line-height: 57px;
    height: 92px;
}

header.nav-transitions.fixed .nav-logo {
    font-size: 1.4em;
    margin: 0 2em;
    padding: .74em 0;
    line-height: 52px;
    transition: all 0.1s linear; 
}
