body {
    background: #e4e4e4;
}

header {
    background-color: #ff00ff;
}

.nav-collapse.nav-full ul, 
.nav-collapse.nav-full a {
    border: none;
}

.nav-collapse.nav-compact a {
    background-color: #ff00ff;
    border-bottom: none !important;
    border-top: 1px solid rgba(255, 255, 255, 0.5) !important;
}

.nav-collapse a:active,
.nav-collapse .active a {
    background: rgba(255, 255, 255, 0.4);
}
